<?xml version="1.0" encoding="UTF-8"?>
<config>
  <player>
    <name>Simon</name>
    <automated>false</automated>
  </player>
  <player>
    <name>Computer</name>
    <automated>true</automated>
  </player>
  <player>
    <name>Mark</name>
    <automated>false</automated>
  </player>
  <rounds>5</rounds>
  <logging>false</logging>
</config>
